header {
  color: white;
  background-color: #d52220;
  position: relative;
  z-index: 4;
  span {
    font-size: 12px;
    line-height: 1.6rem;
    font-weight: 700;
  }
}
// nav {
//   .logo {
//     flex-basis: 8.666666666%;
//     max-width: 16.666666666%;
//   }
// }
